/* GLOBAL */
* {

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}


.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #222;
    font-size: 24px;
    font-weight: 600;
}

.site-header-logo:hover {
    color: #de2e54;
}

.site-header-logo:active {
    opacity: 0.6;
}

.site-header-logo-img {
    margin-right: 16px;
    border-radius: 50%;
}

.site-header-logo-text {

}

.sitenav-list {
    display: flex;
    list-style-type: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 32px;
}

.sitenav-link {
    text-decoration: none;
    color: #222;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

.sitenav-link:hover {
    color: #de2e54;
}

.sitenav-link:active {
    opacity: 0.6;
}

.main-link {
    display: inline-block;
    padding: 10px 22px;
    text-decoration: none;
    background-color: #de2e54;
    border-radius: 8px;
    border: 2px solid #de2e54;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-link:hover {
    background-color: transparent;
    color: #de2e54;
}

.main-link:active {
    background-color: #de2e54;
    color: #fff;
}


/* HERO SECTION */

.hero {
    background-color: #0EB4C1;
}

.site-container {
    display: flex;
    justify-content: space-between;
}


.hero-content {
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: "Open sans condensed", "Open sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
}

.hero-text {
    margin-bottom: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
    
}

.hero-content .main-link:hover {
    background-color: rgba(222, 46, 84, 0.8);
    border-color: transparent;
    color: #fff;
}

.hero-content .main-link:active {
    background-color: rgba(222, 46, 84, 0.6);
    border-color: transparent;
    opacity: 1;
    color: #fff;
}

.hero-img {
    align-self: flex-end;
}   


/* SERVICES SECTION */

.index-services {
    padding-top: 120px;
    padding-bottom: 120px;
}

.services-heading {
    margin-top: 0;
    text-align: center;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
}
.index-services-list {
    list-style-type: none;
    margin-bottom: 60px;
}
.index-services-item {
    display: flex;
    align-items: center;
}

.index-services-item:not(:last-child) {
    margin-bottom: 80px;
}


.index-service-img {
    width: 200px;
    height: 200px;
    margin-right: 64px;
    margin-bottom: 0;
}
.index-service-content {
    width: 600px;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
}
.index-service-content-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #222222;
}
.index-service-content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.service-link-parent {
    display: flex;
    justify-content: center;
}

/* ========= CTA SECTION ========== */

.cta {
    background-color: #0EB4C1;
    padding-top: 64px;
    padding-bottom: 64px;
}

.cta-heading {
    margin-top: 0;
    margin-bottom: 40px;
    font-family: "Open sans condensed", "Open sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #FFFFFF;
    text-align: center;
}

.cta-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-link-outline {
    border: 2px solid #FFFFFF;
    color: #fff;
    background-color: transparent;
}

.main-link-outline:hover {
    background-color: #DE2E54;
    border: 2px solid #DE2E54;
    border-color: transparent;
    color: #fff;
}

.main-link-outline:active {
    opacity: 0.6;
}

.cta-link:not(:last-child) {
    margin-right: 40px;
}


/* SITE FOOTER */
.site-footer {
    background-color: #222;
}

.site-footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-footer-logo {
    color: #fff;
}

.site-footer-logo:active {
    color: #fff;
}

.sitenav-site-footer .sitenav-link {
    color: #fff;
}

.sitenav-site-footer .sitenav-link:hover {
    color: #de2e54;
}

.sitenav-site-footer .sitenav-link:active {
    color: #fff;
}

